# ignore everything
/*

# except...
!/.gitignore
!/.gitconfig
!/.dac_aliases

!/.local/
/.local/*
!/.local/bin/
/.local/bin/*
!/.local/bin/*-update
# !/bin/bz-update
# !/bin/go-update
# !/bin/ghostty-update
!/.local/bin/calico-on-kind
!/.local/bin/calico-latest

!/.config/
/.config/*
!/.config/nvim/
/.config/nvim/lazy-lock.json
!/.config/ghostty/

