# ignore everything
/*

# except...
!/.gitignore
!/.dac_aliases

!/.local/bin/
/.local/bin/*
!/.local/bin/*-update
# !/bin/bz-update
# !/bin/go-update
# !/bin/ghostty-update

!/.config/
/.config/*
!/.config/nvim/
/.config/nvim/lazy-lock.json
!/.config/ghostty/

